<form method="post" action="/aluno/salvar">
    <fieldset>
        <legend>REGISTRAR ALUNOS</legend>
        <label>NOME</label>
        <input type="text" name="nome" required>
        <label>TELEFONE</label>
        <input type="number" name="telefone" required>
        <label>EMAIL</label>
        <input type="text" name="email" required>
        <label>NOTA 1</label>
        <input type="number" name="nota1" required>
        <label>NOTA 2</label>
        <input type="number" name="nota2" required>
        <label>NOTA 3</label>
        <input type="number" name="nota3" required>

        <button type="submit">SALVAR</button>
    </fieldset>
</form>